html, body {
    margin: 0 !important;
    padding: 0 !important;
  	background-color: lightgray;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}
	
#settings {
	border-style: solid;
	border-color: red;
	border-width: 1px;
	float: right;
	margin-top: 10px;
  	position: fixed;
	width: 395px;
	height: 100%;
	right: 0px;
	top: 0%;
}

#canvas {
	flex: grow;
}

#root {
  background-color: lightgray;
  height: 100%;
  display: flex;
  flex-direction: row;
}

